*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: #4087f6;
}
.weather{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  height: 100vh;
  width: 42vw;
  margin: 0 auto;
  align-items: center;
  border-radius: 10px;
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    h1{
      color: white;
      font-size: 3.25rem;
    }
    p{
      color: white;
      font-size: 1.20rem;
      letter-spacing: 1.4px;
    }
  }
  form{
    display: flex;
    align-items: stretch;
    gap: 20px;  
    .search-box{
      padding-bottom: 2px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 32vw;
      height: 50px;
      border: none;
      border-radius: 5px;
      background-color: white;
      transition: transform .2s;
      i{
        transition: transform .2s;
        font-size: 24px;
      }
      i:hover{
        padding-bottom: 2px;
      }
      input{
        border: none; 
        outline: none;
        width: 88%;
        font-size: 19px;
        transition: transform .1s;
      }
      input:hover{
        transform: translateY(-1px);
      }
    }
    button{
      width: 8vw;
      color: #306bec;
      font-size: 20px;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
      padding-right: 8px;
      background-color: white;
      transition: transform .2s;
      i{
        margin-right: 10px;
      }
    }
    button:hover{
      transform: translateY(-2px);
      padding-bottom: 2px;
    }
  }
  .search-box:hover{
    transform: translateY(-2px);
  }
  .weather-info{
    text-align: center;
    width: 98.43%;
    background-color: white;
    color: black;
    border-radius: 5px;
    transition: transform .2s;
    section{
      transition: transform .2s;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px 15px;
      width: 100%;
      margin: 0 auto;
      align-items: flex-start;
      h2{
        color: #2196f3;
        font-size: 1.2rem;
        font-weight: 600;
        margin: 0;
      }
    }
    section:hover{
      transform: translateY(-1px);

    }
  }
  .weather-info:hover{
    transform: translateY(-2px);
  }
}
@media screen and (max-width: 768px) {
    .weather{
      width: 65vw;
      form{
        .search-box{
          width: 45vw;
        }
        button{
          width: 16vw;
          padding-right: 5px;
        }
      }
    }
}
@media screen and (max-width: 426px) {
    .weather{
      width: 90vw;
      form{
        .search-box{
          width: 59vw;
        }
        button{
          width: 25vw;
          padding-right: 5px;
        }
      }
    }
}