*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
  background-color: #4087f6;
}
.weather{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  height: 100vh;
  section{
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
      color: white;
      font-size: 3.25rem;
    }
    p{
      color: white;
      font-size: 1.20rem;
      letter-spacing: 1.4px;
    }
  }
  form{
    display: flex;
    align-items: stretch;
    gap: 20px;  
    .search-box{
      padding-bottom: 2px;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 30vw;
      height: 50px;
      border: none;
      border-radius: 5px;
      background-color: white;
      transition: transform .2s;
      i{
        transition: transform .2s;
        font-size: 24px;
      }
      i:hover{
        padding-bottom: 2px;
      }
      input{
        border: none; 
        outline: none;
        width: 88%;
        font-size: 19px;
        transition: transform .1s;
      }
      input:hover{
        transform: translateY(-1px);
      }
    }
    button{
      width: 8vw;
      color: #306bec;
      font-size: 20px;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
      padding-right: 8px;
      background-color: white;
      transition: transform .2s;
      i{
        margin-right: 10px;
      }
    }
    button:hover{
      transform: translateY(-2px);
      padding-bottom: 2px;
    }
  }
  .search-box:hover{
    transform: translateY(-2px);
  }
  h2{
    color: white;
  }
  .weather-info{
    text-align: center;
  }
}